In [1]:
import pandas as pd

In [2]:
train_df = r'C:\project\AIRLINE\artifact\stage00_data_ingestion\stage00_data_ingestion\train.csv'

In [3]:
def dropping_missing_values(data):
    missing_values =data.isnull().sum()
    if missing_values.any():
        cleaned_data = data.dropna(inplace=True)
        return cleaned_data
    else:
        print("No missing Values")

In [4]:
train_data = pd.read_csv(train_df)

In [8]:
dropping_missing_values(data=train_data)

In [9]:
train_data.isnull().sum()

Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [10]:
train_data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,17,Personal Travel,Eco,184,2,4,0,4,...,2,4,3,4,4.0,5,2,0,0.0,neutral or dissatisfied
1,Female,Loyal Customer,44,Business travel,Business,1978,1,1,3,1,...,2,2,3,2,4.0,2,4,0,0.0,satisfied
2,Female,Loyal Customer,22,Business travel,Business,3659,4,4,4,4,...,4,3,4,2,3.0,5,4,0,0.0,satisfied
3,Male,Loyal Customer,42,Business travel,Eco Plus,758,4,5,5,5,...,4,3,5,5,5.0,5,4,5,0.0,satisfied
4,Male,Loyal Customer,54,Business travel,Business,867,2,2,1,2,...,2,2,2,2,4.0,2,1,0,0.0,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,24,Business travel,Eco,399,1,2,1,3,...,1,4,2,4,1.5,4,1,0,0.0,neutral or dissatisfied
103900,Male,Loyal Customer,40,Business travel,Business,2246,4,4,4,4,...,5,5,5,5,5.0,5,5,0,15.0,satisfied
103901,Male,Loyal Customer,59,Business travel,Business,1590,1,1,4,1,...,4,4,4,4,5.0,4,3,0,0.0,satisfied
103902,Male,Loyal Customer,52,Business travel,Business,2774,2,2,2,2,...,4,4,4,4,5.0,4,4,13,32.0,satisfied
103903,Female,Loyal Customer,67,Business travel,Business,2654,3,3,5,3,...,4,4,4,4,5.0,4,5,10,0.0,satisfied

In [7]:
type(train_data)

pandas.core.frame.DataFrame

In [5]:
 numerical_features =['Age','Flight Distance','Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking',
                    'Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service','Leg room service','Baggage handling',
                    'Checkin service','Inflight service','Cleanliness']

In [6]:
def remove_outlier_IQR(col,df):
         
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)

            iqr = Q3-Q1

            upper_limit = Q3+1.5*iqr
            lower_limit = Q1-1.5*iqr

            df.loc[(df[col]>upper_limit),col] = upper_limit
            df.loc[(df[col]<lower_limit),col] = lower_limit

            return df

In [7]:
for col in numerical_features:
    remove_outlier_IQR(col=col,df=train_data)

In [30]:
target_column = ["satisfaction"]

In [31]:
X_train = train_data.drop(columns=target_column,axis=1)

In [32]:
X_train

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Female,Loyal Customer,17,Personal Travel,Eco,184,2,4,0,4,...,2.0,2,4,3,4,4.0,5,2,0,0.0
1,Female,Loyal Customer,44,Business travel,Business,1978,1,1,3,1,...,5.0,2,2,3,2,4.0,2,4,0,0.0
2,Female,Loyal Customer,22,Business travel,Business,3659,4,4,4,4,...,4.0,4,3,4,2,3.0,5,4,0,0.0
3,Male,Loyal Customer,42,Business travel,Eco Plus,758,4,5,5,5,...,4.0,4,3,5,5,5.0,5,4,5,0.0
4,Male,Loyal Customer,54,Business travel,Business,867,2,2,1,2,...,3.0,2,2,2,2,4.0,2,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,24,Business travel,Eco,399,1,2,1,3,...,1.0,1,4,2,4,1.5,4,1,0,0.0
103900,Male,Loyal Customer,40,Business travel,Business,2246,4,4,4,4,...,5.0,5,5,5,5,5.0,5,5,0,15.0
103901,Male,Loyal Customer,59,Business travel,Business,1590,1,1,4,1,...,4.0,4,4,4,4,5.0,4,3,0,0.0
103902,Male,Loyal Customer,52,Business travel,Business,2774,2,2,2,2,...,4.0,4,4,4,4,5.0,4,4,13,32.0
103903,Female,Loyal Customer,67,Business travel,Business,2654,3,3,5,3,...,1.0,4,4,4,4,5.0,4,5,10,0.0